@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About UNYT</h1>
    <p>Situated in the heart of Tirana, the capital city of Albania, UNYT aspires to establish itself as a dynamic, multicultural, and leading center for higher education in the Balkans and beyond. The mission of UNYT is to provide students with the opportunity to obtain university degrees at the Bachelor, Master or Ph.D. level, in a variety of academic and professional specializations, in collaboration with prestigious American and European universities.</p>
    <p><a href="https://unyt.edu.al/index.php/apply-online/" class="btn btn-primary btn-lg">Become a Student &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="background-color: #005391; padding: 60px; text-align: center; color: #ffd966; font-size: 30px; ">Our Bachelor Programs</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://unyt.edu.al/index.php/bachelor-programs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="background-color: #005391; padding: 60px; text-align: center; color: #ffd966; font-size: 30px; ">Our Master Programs</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://unyt.edu.al/index.php/master-programs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="background-color: #005391; padding: 60px; text-align: center; color: #ffd966; font-size: 30px; ">Our PhD Programs</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://unyt.edu.al/index.php/phd-programs/">Learn more &raquo;</a></p>
    </div>
</div>