@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>Administration 9 AM - 5 PM | UNYT Facilities 9 AM - 9 PM</h3>

<address>
    "Kodra e Diellit"<br />
    Tirane, Albania<br />
    <abbr title="Phone">P:</abbr>
    + 355 4 4512345
</address>

<address>
    <strong>General Information:</strong>   <a href="mailto:info@unyt.edu.al">info@unyt.edu.al</a><br />
    <strong>PR&Marketing Collaborations:</strong> <a href="mailto:pr@unyt.edu.al">pr@unyt.edu.al</a>
</address>
