@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University of New York Tirana</h1>
    <p class="lead">The first private Albanian University.</p>
    <p><a href="https://unyt.edu.al/" class="btn btn-primary btn-lg">Learn more about us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="padding: 60px; text-align: center; color: Black; font-size: 30px; ">Our Programs</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44324/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="padding: 60px; text-align: center; color: Black; font-size: 30px; ">Add a Student</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44324/Students/Create">Add Student &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="padding: 60px; text-align: center; color: Black; font-size: 30px; ">Add a Professor</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44324/Professors/Create">Add Professor &raquo;</a></p>
    </div>
</div>